<!-- IF (S_IS_BOT and S_QUICK_ADS_ALLOW_BOT) or not S_IS_BOT -->
	<script type="text/javascript">
	/* <![CDATA[ */
		var quickAds_frameT = '#{S_QUICK_ADS_CUSTOM_ID}t';
		var quickAds_frameB = '#{S_QUICK_ADS_CUSTOM_ID}b';
		var quickAds_frameL = '#{S_QUICK_ADS_CUSTOM_ID}l';
		var quickAds_frameR = '#{S_QUICK_ADS_CUSTOM_ID}r';
		var quickAds_frameTS = '#{S_QUICK_ADS_CUSTOM_ID}ts';
		var quickAds_frameBS = '#{S_QUICK_ADS_CUSTOM_ID}bs';
	/* ]]> */
	</script>
	
	<!-- IF S_QUICK_ADS_LEFT -->
	<div id="{S_QUICK_ADS_CUSTOM_ID}l" class="quickads_frames quickads_frames_left" style="z-index:{S_QUICK_ADS_ZINDEX};">
		<!-- IF S_QUICK_ADS_CLOSEBT == 1 -->
		<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}l', '#{S_QUICK_ADS_CUSTOM_ID}l'<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
		<!-- ENDIF -->
		<table class="quickads_table">
			<tbody>
				<!-- BEGIN quick_ads_row_left -->
				<tr>
					<td align="center" class="quickads_items_border{quick_ads_row_left.QUICK_ADS_BORDER}">
						<!-- IF S_QUICK_ADS_CLOSEBT == 2 -->
						<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_left.QUICK_ADS_ID}', this.parentNode<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
						<!-- ENDIF -->
						
						<div id="{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_left.QUICK_ADS_ID}" class="quickads_items quickads_items_left" style="background-color: {quick_ads_row_left.QUICK_ADS_BG_COLOR}; overflow: {quick_ads_row_left.QUICK_ADS_OVERF}; <!-- IF quick_ads_row_left.QUICK_ADS_BG_IMG != '' -->background-image: url('{quick_ads_row_left.QUICK_ADS_BG_IMG}'); <!-- ENDIF -->width: <!-- IF quick_ads_row_left.QUICK_ADS_WIDTH > 0 -->{quick_ads_row_left.QUICK_ADS_WIDTH}px<!-- ELSE -->auto<!-- ENDIF -->; <!-- IF quick_ads_row_left.QUICK_ADS_HEIGHT > 0 -->height: {quick_ads_row_left.QUICK_ADS_HEIGHT}px<!-- ELSE -->auto<!-- ENDIF -->;"<!-- IF quick_ads_row_left.QUICK_ADS_HREF != '' --> onclick="window.open('{quick_ads_row_left.QUICK_ADS_HREF}'); return false;"<!-- ENDIF -->>
							{quick_ads_row_left.QUICK_ADS_TEXT}
						</div>
						
						<!-- IF S_QUICK_ADS_COOKIE -->
						<script type="text/javascript">
						/* <![CDATA[ */
						jQuery(document).ready(function()
						{
							quickAds_CheckCookie('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_left.QUICK_ADS_ID}', jQuery('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_left.QUICK_ADS_ID}')[0].parentNode);
						});
						/* ]]> */
						</script>
						<!-- ENDIF -->
					</td>
				</tr>
				<!-- END quick_ads_row_left -->
			</tbody>
		</table>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_QUICK_ADS_RIGHT -->
	<div id="{S_QUICK_ADS_CUSTOM_ID}r" class="quickads_frames quickads_frames_right" style="z-index:{S_QUICK_ADS_ZINDEX};">
		<!-- IF S_QUICK_ADS_CLOSEBT == 1 -->
		<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}r', '#{S_QUICK_ADS_CUSTOM_ID}r'<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
		<!-- ENDIF -->
		<table class="quickads_table">
			<tbody>
				<!-- BEGIN quick_ads_row_right -->
				<tr>
					<td align="center" class="quickads_items_border{quick_ads_row_right.QUICK_ADS_BORDER}">
						<!-- IF S_QUICK_ADS_CLOSEBT == 2 -->
						<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_right.QUICK_ADS_ID}', this.parentNode<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
						<!-- ENDIF -->
						
						<div id="{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_right.QUICK_ADS_ID}" class="quickads_items quickads_items_right" style="background-color: {quick_ads_row_right.QUICK_ADS_BG_COLOR}; overflow: {quick_ads_row_right.QUICK_ADS_OVERF}; <!-- IF quick_ads_row_right.QUICK_ADS_BG_IMG != '' -->background-image: url('{quick_ads_row_right.QUICK_ADS_BG_IMG}'); <!-- ENDIF -->width: <!-- IF quick_ads_row_right.QUICK_ADS_WIDTH > 0 -->{quick_ads_row_right.QUICK_ADS_WIDTH}px<!-- ELSE -->auto<!-- ENDIF -->; <!-- IF quick_ads_row_right.QUICK_ADS_HEIGHT > 0 -->height: {quick_ads_row_right.QUICK_ADS_HEIGHT}px<!-- ELSE -->auto<!-- ENDIF -->;"<!-- IF quick_ads_row_right.QUICK_ADS_HREF != '' --> onclick="window.open('{quick_ads_row_right.QUICK_ADS_HREF}'); return false;"<!-- ENDIF -->>
							{quick_ads_row_right.QUICK_ADS_TEXT}
						</div>
						
						<!-- IF S_QUICK_ADS_COOKIE -->
						<script type="text/javascript">
						/* <![CDATA[ */
						jQuery(document).ready(function()
						{
							quickAds_CheckCookie('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_right.QUICK_ADS_ID}', jQuery('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_right.QUICK_ADS_ID}')[0].parentNode);
						});
						/* ]]> */
						</script>
						<!-- ENDIF -->
					</td>
				</tr>
				<!-- END quick_ads_row_right -->
			</tbody>
		</table>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_QUICK_ADS_TOP -->
	<div id="{S_QUICK_ADS_CUSTOM_ID}t" class="quickads_frames quickads_frames_top" style="z-index:{S_QUICK_ADS_ZINDEX};">
		<!-- IF S_QUICK_ADS_CLOSEBT == 1 -->
		<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}t', '#{S_QUICK_ADS_CUSTOM_ID}t'<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
		<!-- ENDIF -->
		<table class="quickads_table">
			<tbody>
				<tr>
					<!-- BEGIN quick_ads_row_top -->
					<td valign="middle" class="quickads_items_border{quick_ads_row_top.QUICK_ADS_BORDER}">
						<!-- IF S_QUICK_ADS_CLOSEBT == 2 -->
						<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_top.QUICK_ADS_ID}', this.parentNode<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
						<!-- ENDIF -->
						
						<div id="{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_top.QUICK_ADS_ID}" class="quickads_items quickads_items_top" style="background-color: {quick_ads_row_top.QUICK_ADS_BG_COLOR}; overflow: {quick_ads_row_top.QUICK_ADS_OVERF}; <!-- IF quick_ads_row_top.QUICK_ADS_BG_IMG != '' -->background-image: url('{quick_ads_row_top.QUICK_ADS_BG_IMG}'); <!-- ENDIF -->width: <!-- IF quick_ads_row_top.QUICK_ADS_WIDTH > 0 -->{quick_ads_row_top.QUICK_ADS_WIDTH}px<!-- ELSE -->auto<!-- ENDIF -->; <!-- IF quick_ads_row_top.QUICK_ADS_HEIGHT > 0 -->height: {quick_ads_row_top.QUICK_ADS_HEIGHT}px<!-- ELSE -->auto<!-- ENDIF -->;"<!-- IF quick_ads_row_top.QUICK_ADS_HREF != '' --> onclick="window.open('{quick_ads_row_top.QUICK_ADS_HREF}'); return false;"<!-- ENDIF -->>
							{quick_ads_row_top.QUICK_ADS_TEXT}
						</div>
						
						<!-- IF S_QUICK_ADS_COOKIE -->
						<script type="text/javascript">
						/* <![CDATA[ */
						jQuery(document).ready(function()
						{
							quickAds_CheckCookie('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_top.QUICK_ADS_ID}', jQuery('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_top.QUICK_ADS_ID}')[0].parentNode);
						});
						/* ]]> */
						</script>
						<!-- ENDIF -->
					</td>
					<!-- END quick_ads_row_top -->
				</tr>
			</tbody>
		</table>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_QUICK_ADS_BOTTOM -->
	<div id="{S_QUICK_ADS_CUSTOM_ID}b" class="quickads_frames quickads_frames_bottom" style="z-index:{S_QUICK_ADS_ZINDEX};">
		<!-- IF S_QUICK_ADS_CLOSEBT == 1 -->
		<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}b', '#{S_QUICK_ADS_CUSTOM_ID}b'<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
		<!-- ENDIF -->
		<table class="quickads_table">
			<tbody>
				<tr>
					<!-- BEGIN quick_ads_row_bottom -->
					<td valign="middle" class="quickads_items_border{quick_ads_row_bottom.QUICK_ADS_BORDER}">
						<!-- IF S_QUICK_ADS_CLOSEBT == 2 -->
						<div class="quickads_closebt" onclick="quickAds_Close('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_bottom.QUICK_ADS_ID}', this.parentNode<!-- IF S_QUICK_ADS_COOKIE -->, {S_QUICK_ADS_COOKIE_TIME}<!-- ENDIF -->);"></div>
						<!-- ENDIF -->
						
						<div id="{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_bottom.QUICK_ADS_ID}" class="quickads_items quickads_items_bottom" style="background-color: {quick_ads_row_bottom.QUICK_ADS_BG_COLOR}; overflow: {quick_ads_row_bottom.QUICK_ADS_OVERF}; <!-- IF quick_ads_row_bottom.QUICK_ADS_BG_IMG != '' -->background-image: url('{quick_ads_row_bottom.QUICK_ADS_BG_IMG}'); <!-- ENDIF -->width: <!-- IF quick_ads_row_bottom.QUICK_ADS_WIDTH > 0 -->{quick_ads_row_bottom.QUICK_ADS_WIDTH}px<!-- ELSE -->auto<!-- ENDIF -->; <!-- IF quick_ads_row_bottom.QUICK_ADS_HEIGHT > 0 -->height: {quick_ads_row_bottom.QUICK_ADS_HEIGHT}px<!-- ELSE -->auto<!-- ENDIF -->;"<!-- IF quick_ads_row_bottom.QUICK_ADS_HREF != '' --> onclick="window.open('{quick_ads_row_bottom.QUICK_ADS_HREF}'); return false;"<!-- ENDIF -->>
							{quick_ads_row_bottom.QUICK_ADS_TEXT}
						</div>
						
						<!-- IF S_QUICK_ADS_COOKIE -->
						<script type="text/javascript">
						/* <![CDATA[ */
						jQuery(document).ready(function()
						{
							quickAds_CheckCookie('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_bottom.QUICK_ADS_ID}', jQuery('#{S_QUICK_ADS_CUSTOM_ID}i{quick_ads_row_bottom.QUICK_ADS_ID}')[0].parentNode);
						});
						/* ]]> */
						</script>
						<!-- ENDIF -->
					</td>
					<!-- END quick_ads_row_bottom -->
				</tr>
			</tbody>
		</table>
	</div>
	<!-- ENDIF -->
	
	<script type="text/javascript">
	/* <![CDATA[ */
	jQuery(document).ready(function()
	{
		<!-- IF S_QUICK_ADS_LEFT -->
			<!-- IF S_QUICK_ADS_COOKIE -->
			quickAds_CheckCookie(quickAds_frameL, jQuery(quickAds_frameL)[0]);
			<!-- ENDIF -->
			quickAds_CheckDimension(quickAds_frameL, {S_QUICK_ADS_WMIN_LEFT}, {S_QUICK_ADS_HMIN_LEFT});
		<!-- ENDIF -->
		
		<!-- IF S_QUICK_ADS_RIGHT -->
			<!-- IF S_QUICK_ADS_COOKIE -->
			quickAds_CheckCookie(quickAds_frameR, jQuery(quickAds_frameR)[0]);
			<!-- ENDIF -->
			quickAds_CheckDimension(quickAds_frameR, {S_QUICK_ADS_WMIN_RIGHT}, {S_QUICK_ADS_HMIN_RIGHT});
		<!-- ENDIF -->
		
		<!-- IF S_QUICK_ADS_TOP -->
			<!-- IF S_QUICK_ADS_COOKIE -->
			quickAds_CheckCookie(quickAds_frameT, jQuery(quickAds_frameT)[0]);
			<!-- ENDIF -->
			quickAds_CheckDimension(quickAds_frameT, {S_QUICK_ADS_WMIN_TOP}, {S_QUICK_ADS_HMIN_TOP});
		<!-- ENDIF -->
		
		<!-- IF S_QUICK_ADS_BOTTOM -->
			<!-- IF S_QUICK_ADS_COOKIE -->
			quickAds_CheckCookie(quickAds_frameB, jQuery(quickAds_frameB)[0]);
			<!-- ENDIF -->
			quickAds_CheckDimension(quickAds_frameB, {S_QUICK_ADS_WMIN_BOTTOM}, {S_QUICK_ADS_HMIN_BOTTOM});
		<!-- ENDIF -->
	});
	/* ]]> */
	</script>
	
	<!-- INCLUDEJS @o0johntam0o_quickads/script.js -->
<!-- ENDIF -->